/* Created by: Evgeny Vovk
* Created on: Fab 2022
* This CSS file defines the style for index.html ICS2O-Assignment1-HTML
*/

body {
  background-color: cyan;
}

.sources {
  text-align: center;
}

p {
  font-size: 150%;
  background-color: purple;
  margin-left: 20em;
  margin-right: 20em;
  border: 2px solid black;
}

h1 {
  font-size: 300%;
  text-decoration: underline;
}